html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; /* Ensure it starts from the left edge */
    right: 0; /* Ensure it stretches to the right edge */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
	overflow-x: hidden;
}