@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    overflow-x: hidden;
}

#navbar {
    background-color: #58a3d9;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
}

#navbar img {
    height: 43px;
    width: auto;
    object-fit: contain;
}

#navbar .nav-link {
    color: white;
    font-size: 25px;
    letter-spacing: 1.5px;
}

/*The left side of the webpage is set such that one cannot scroll left-right
Instead, the setting to scroll up-down is set as auto
This is because when more info is added for each flyover, readers can read along by scrolling down*/
#info {
    overflow: auto;
    overflow-x: hidden;
}

#title {
    background-color: #58a3d9;
    color: #ffffff;
}

#red {
    color: red
}

#purple {
    color: purple
}

/*Default setting of the <div id="TextToShow> block is set to hidden at first, so that the customisation function in CSS can work*/
#TextToShow {
    display: none;
}

#map-container {
    position: relative;
    height: calc(100vh - 50px);
}

/*Map is set to cover the entire of the right side of webpage*/
#my-map {
    width: 100%;
    height: calc(100vh - 50px);
}

/*Styling the Revitalised Area legend to be also at the bottom right corner
But the initial display is set to be none so that the switch can happen when user zooms into a specific point*/
#areaLegend {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    bottom: 30px;
    right: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 200px;
    display: none;
}

#areaLegend span {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

#areaLegend div:nth-child(1) span {
    background-color: #ff000d;
}

#areaLegend div:nth-child(2) span {
    background-color: #bd05f5;
}

/*Styling the Home button to be at the top right corner of the webpage under the navigation controls, 
and looking similar to the look of the navcontrol bar*/
#home {
    position: absolute;
    background-color: rgba(220, 220, 220, 0.7);
    top: 80px;      /*80px from the top puts it under the navcontrol bar*/
    right: 0;
    margin: 0 8px 30px 0;
    border-radius: 5px;
    width: 35px;    /*This roughly makes the home div box slightly larger than the width of navcontrol bar*/
    height: 35px;
    display: flex;  /*Enables the next three lines of code*/
    justify-content: center; /*Puts the icon at the centre based on the x-axis*/
    align-items: center; /*Puts the icon at the centre based on the y-axis*/
    cursor: pointer; /*When user hovers mouse on it, the cursor becomes a pointer indicating clickability*/
}

#return {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: white; /*The image has a transparent, changeable background. Hence white is chosen to ensure consistency with navcontrol bar*/
}

/*Styling the popup message to inform viewers to return to default extent
Largely adapted from the CSS code derived from the following website
https://www.w3schools.com/howto/howto_js_popup.asp*/
#returnPop {
    visibility: hidden;
    width: 70px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110%; /*This is to reflect the popup at the bottom of the icon instead of at the top*/
    right: 0%; /*This is to reflect the popup at the right, aligned to the icon that is already at the right of the page*/
    opacity: 0;
    font-size: 10px;
}